/* 
---------------------------
Saves all the main colors in
variables
---------------------------
 */

body{
    --main-color: #30e8bd;
    --accent-color: #FF8235;
    --text: #7115b4;
    --main-dark-color: hsl(320, 13%, 13%);
    --main-dark-light: hsl(320, 13%, 20%);
    --stand-out: hsl(60, 61%, 65%);
    --stand-out-2: #B4C792;
    --hover: hsl(60, 70%, 40%);
    --light-green: #269493;
    --central-green: #66B39A;
    --error: hsl(0, 100%, 50%);
    --warning: hsl(60, 100%, 50%);
    --info: hsl(214, 100%, 50%);
    padding: 0;
    margin: auto;
    width: 90%;

    background-color: var(--main-color);
}
/* Default properties */
*{
    font-family: 'Nunito', sans-serif;
    padding-top: 0;
    border: none;
    text-decoration: none;
    color: var(--text);
}

/* 
-----------------------------------
Navbar
-----------------------------------
 */


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo{
    padding-left: 20px;
    font-size: 30px;
    /* color: var(--accent-color); */
    flex-basis: 200px;
    flex-grow: 1;
    padding: 10px;
}


#logo a{
    font-family: 'Press Start 2P', cursive;
    line-height: 1px;
}


.navbar nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
    padding: 0;
    flex-basis: 340px;
}


.navbar{
    flex-basis: 300px;
    flex-grow: 1;
}


.navbar, .navbar nav, .navbar nav ul{
    display: flex;
    justify-content: flex-end;
}


.link{
    list-style: none;
    flex-basis: 100px;
    background-color: var(--accent-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


a{
    text-decoration: none;
    /* color: var(--stand-out); */
    font-family: 'PT Mono', monospace;
}


a:hover{
    cursor: pointer;
    /* color: var(--hover); */
}


/* 
------------------------
For responsive content
------------------------
*/

@media (min-width: 700px){
    nav{
        flex-basis: 400px;
    }
}


/* 
-------------------------------
Forms
-------------------------------
 */


.legend{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 2em;
}


.content-section{
    display: flex;
    justify-content: center;
    margin: 20px auto auto auto;
}


.content-section form{
    flex-basis: 400px;
    flex-grow: 0.2;
}


.form-group{
    display: flex;
    text-align: left;
    margin: 20px 0 0 0;
    justify-content: center;
}


.form-group label{
    flex: none;
    display: block;
    font-size: 1em;
    width: 140px;
    align-self: center;
}


.form-group input{
    display: block;
}

.form-submit{
    margin-bottom: 20px;
}

fieldset{
    padding: 0;
    border: none;
}


@media (max-width: 750px) {
    .form-group{
        display: block;
    }
    .form-group label{
        width: 200px;
        text-align: center;
    }
    .form-group *{
        margin: auto;
    }
}

/* 
--------------------------
Inputs, Buttons
--------------------------
 */


 input[type='text'], input[type='password'] {
     height: 40px;
     width: 200px;
     text-align: center;
 }

 button, input[type='submit']{
     height: 40px;
     width: 100px;
 }



/* 
---------------------------
Errors, Warnings and Info's
---------------------------
*/

.errors{
    width: 500px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
}

.errors *{
    display: block;
}

.red-error{
    color: var(--error)
}


.yellow-warning{
    color: var(--warning)
}


.blue-info{
    color: var(--info)
}


.errors.red-error{
    border: 2px solid var(--error);
}


.errors.yellow-warning{
    border: 2px solid var(--warning);
}


.errors.blue-info{
    border: 2px solid var(--info);
}