{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form action="" method="POST" class="form-horizontal">
            {{ form.hidden_tag() }}
            <fieldset class="my-5 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="legend">{{ title }}</h3>
                <!-- Username group -->
                <div class="form-group">
                    {% if form.username.errors %}
                        {{ form.username.label }}
                        {{ form.username(class='custom-select is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username.label }}
                        {{ form.username(class='custom-select') }}
                    {% endif %}
                </div>
                <!-- Name group -->
                <div class="form-group">
                    {% if form.name.errors %}
                        {{ form.name.label }}
                        {{ form.name(class='custom-select is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name.label }}
                        {{ form.name(class='custom-select') }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.save(class='btn btn-primary') }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="container m-2">
        <button class='btn btn-secondary' id="requestUserBtn">All Users</button>
    </div>
    <script>
        let usr = document.getElementById('username');
        let usrBtn = document.getElementById('requestUserBtn');
        usrBtn.onclick = function(e) {
            $.get( "all_user",function( data ) {
                var doc = new DOMParser().parseFromString(data, "text/xml");
                console.log(doc);
                $('.container-fluid');
            });
        };
        usr.onchange = function(e) {
            console.log(usr.value);
            $.post('/user_control', {
                selected : usr.value
            });
        };
    </script>
{% endblock %}

