<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header id="header">
        <div id="logo">
            <a href="{{ url_for('main.home') }}">Flask Login System</a>
        </div>
        <div class="navbar"></div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>