<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Styles in main.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Righteous&display=swap" rel="stylesheet">
    <script type="text/js" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <!-- Navigation menu -->
    <header id="header">
        <div id="logo">
            <a href="{{ url_for('main.home') }}">Flask Login System</a>
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li class="link"><a href="{{ url_for('main.home') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li class="link"><a href="{{ url_for('users.logout') }}">Logout</a></li>
                    {% else %}
                        <li class="link"><a href="{{ url_for('users.register') }}">Register</a></li>
                        <li class="link"><a href="{{ url_for('users.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!-- Error Section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <section class="errors {{ category }}">
                    <p>{{ message }}</p>
                </section>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Content section -->
    {% block content %}{% endblock %}
</body>
</html>