{% extends "layout.html" %}
{% block content %}
    <!-- Form -->
    <div class="container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="my-5 mx-auto shadow-lg p-3 mb-5 bg-white rounded">
                <h3 class="legend">{{ title }}</h3>
                <!-- Username group -->
                <div class="form-group mx-auto">
                    {% if form.username.errors %}
                        {{ form.username.label }}
                        {{ form.username(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username.label }}
                        {{ form.username(class='form-control') }}
                    {% endif %}
                </div>
                <!-- Email group -->
                <div class="form-group mx-auto">
                    {% if form.email.errors %}
                        {{ form.email.label }}
                        {{ form.email(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email.label }}
                        {{ form.email(class='form-control') }}
                    {% endif %}
                </div>
                <!-- Password gorup -->
                <div class="form-group mx-auto">
                    {% if form.password.errors %}
                        {{ form.password.label }}
                        {{ form.password(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password.label }}
                        {{ form.password(class='form-control') }}
                    {% endif %}
                </div>
                <!-- Confirm password group -->
                <div class="form-group mx-auto">
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class='form-control') }}
                    {% endif %}
                </div>
                <!-- Submit button group -->
                <div class="form-actions">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            </fieldset>
        </form>
    </div>
    {% if form.username.errors or form.email.errors or form.password.errors or form.confirm_password.errors %}
        <div class="errors">
            <div class="error-box">
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="error-box">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="error-box">
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="error-box">
                {% for error in form.confirm_password.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}